[2017-01-31 13:24] mmusich opened #11 "getGTDiffByIOV.py broken in 90X IBs post 9_0_0_pre2"
Hello,
as reported here: https://github.com/cms-AlCaDB/AlCaTools/pull/9#issuecomment-275153871, any application using the `CondCore/Utilities/CondDBFW/querying.py` is now broken with this error, related to sqlalchemy:

[code]

[2017-02-06 10:39] ghellwig commented on #11
@ggovi, @franzoni, @arunhep  is there any progress regarding this issue?
I was just testing a script that makes use of the code. It now fails in 90X...
Would be great if someone could have a look or some pointers what needs to be adjusted.

[2017-02-06 13:21] ghellwig commented on #11
From some google research it looks like one needs to change the code in the [frontier dialect patch](https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_9_0_X/gcc530/py2-sqlalchemy-0.8.2-add-frontier-dialect.patch#L78-L88)

[2017-02-06 15:13] ghellwig commented on #11
@mmusich until this issue is fixed you can use this workaround to revert to the old sqlalchemy version:
[code]

[2017-02-06 15:18] mmusich commented on #11
thanks @ghellwig, I think this can fit an hot fix recipe, but I'd really like to understand from AlCa core if there is going to be a more central fix provided (i.e. if there is going to be any maintenance at all of `CondCore/Utilities/CondDBFW` in the foreseeable future).

[2017-02-09 15:04] franzoni commented on #11
hello @mmusich @ghellwig
@ggovi and I discussed this and plan on keeping the tool (minimally) maintained.

[2017-02-09 15:16] mmusich commented on #11
+1
Thanks @franzoni. I'll leave the issue open - if you don't mind - until it's solved.

[2018-01-31 17:59] mmusich commented on #11
adding @joshhdawes, as I briefly mentioned this issue today at the alca/db workshop.

[2021-09-11 02:15] tvami opened #20 "Remove MFGeometry_120812 and MFGeometry_130503"
these both run from run number 1 and are superseded by MFGeometry_160812 and MFGeometry_90322 (these numbers are FEM version numbers)
In principle could be removed from all new tags in autoCond + online tags as well
HN link: https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/4450.html

[2021-09-11 02:17] tvami opened #21 "Remove intermediate B field SiPixelTemplates"
[code]
Never used, more info after https://indico.cern.ch/event/1000817/#8-removing-template-records-fo
--> It was agreed to remove this (PR is also needed)

HN request here:
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/4465.html

[2021-09-11 02:18] #11 closed

[2021-09-11 02:21] tvami opened #22 "Remove Castor tags"
* CASTOR is decommissioned, can be removed from Run3 specific tags
 * Should be understood if there are code changes required
[code]

[2021-09-11 02:22] tvami opened #23 "Remove DTRecoUncertaintiesRcd tags"
Consumption of these tags was removed in
https://github.com/cms-sw/cmssw/pull/35208

HN request to remove the tags here
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/4461.html

[2021-09-11 02:28] tvami opened #24 "Deprecated EDAnalyzer in BeamSpotProducer"
A recent PR touched on the BeamSpotProducer and so the Static Analyzer brought up a warning that the BeamSpotProducer is using a Deprecated EDAnalyzer
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-23a921/18400/llvm-analysis/
More info about the legacy EDAnalyzer can be found in [*].

[*] https://twiki.cern.ch/twiki/bin/view/CMSPublic/FWMultithreadedAnalysisEDAnalyzer

[2021-09-11 07:01] mmusich commented on #11
@tvami technically this is not solved... only worked around

[2021-09-12 22:34] tvami opened #25 "Deprecated EDAnalyzer in DTCalibration"
As discussed here
https://github.com/cms-sw/cmssw/pull/35184#issuecomment-917138455
there are some deprecated EDAnalyzer in DTCalibration
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-422427/18493/llvm-analysis/legacy-mod-sa.txt

Will be follow-up by @swagata87 @namapane

[2021-09-12 22:46] tvami commented on #25
[code]

[2021-09-13 09:25] namapane commented on #25
Hi @tvami ,
As far as I can tell, RecoLocalMuon/DTSegment/src/DTRecSegment2DExtendedProducer.h is straightforward (just change to edm::stream::EDProducer<>). I am a bit unsure about the others; for example, for:
https://github.com/cms-sw/cmssw/blob/master/CalibMuon/DTCalibration/plugins/DTTTrigCalibration.h#L31
I suppose that should become a edm::global::EDAnalyzer, but do I understand correctly t

[2021-09-13 13:40] namapane commented on #25
(this is maybe a question for @Dr15Jones)

[2021-09-13 13:46] Dr15Jones commented on #25
Probably better to use a `edm::one` as writing `edm::global::EDAnalyzer` usually requires expertise.

[2021-09-13 13:50] namapane commented on #25
Indeed that was my impression :-)

[2021-09-14 12:31] tvami opened #26 "Deprecated EDAnalyzer in SiStripCommon"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-7e48dd/18580/llvm-analysis/
[code]

[2021-09-14 17:18] tvami opened #27 "Deprecated ES get is called in Alignment/OfflineValidation"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-0396e1/18596/summary.html

says
` Deprecated API | EventSetupRecord::get function called | /Alignment/OfflineValidation/plugins/TrackerOfflineValidationSummary.cc`

[2021-09-14 17:25] mmusich commented on #27
For the record a corresponding es transition for the endJob does not exist: https://github.com/cms-sw/cmssw/pull/32005#discussion_r516713046.
You're welcome to find a workaround

[2021-09-14 17:33] tvami commented on #27
@makortel @Dr15Jones do you maybe have any suggestions on how to resolve that?

[2021-09-14 17:44] makortel commented on #27
Accessing EventSetup products in endJob is not supported for long time (if ever). It possibly working in practice is an accident that may stop working at any time. The least bad workaround would be to for the module to copy the ESProduct (the product itself, not a pointer to it) into a member variable e.g. in endRun or endLumi, and use that in the endJob.

[2021-09-14 21:30] mmusich commented on #26
This can be closed now?

[2021-09-14 22:23] #26 closed

[2021-09-15 09:19] mmusich commented on #27
see please https://github.com/cms-sw/cmssw/pull/35281.

[2021-09-15 12:39] francescobrivio opened #28 "DBouputService migration"
Original issue: https://github.com/cms-sw/cmssw/issues/28699

In https://github.com/cms-sw/cmssw/pull/35048 some methods in ` CondCore/DBOutputService` were changed to accept pointers instead of references.

All calls to the following methods should migrated before the old methods (that still accept references and were left in the code in order not to break the release) can be removed:
- writeForN

[2021-09-16 12:44] tvami opened #29 "Deprecated EDAnalyzer in /CalibTracker/SiStripLorentzAngle"
The static analyzer shows that the strips LA is using some deprecated edm::EDAnalyzer here
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-804797/18395/llvm-analysis/

[code]

[2021-09-16 16:07] tvami opened #30 "More deprecated EDAnalyzers / `EventSetupRecord::get`s in DTCalibration"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-a0c9c1/18662/llvm-analysis/

[code]
and
[code]

[2021-09-16 16:13] mmusich opened #31 "Follow-up on `GeometryDB_cff` in AlCaDB related config files"
PR https://github.com/cms-sw/cmssw/pull/35278 offers only an approximate solution to https://github.com/cms-sw/cmssw/issues/31113.
A `GlobalTag` (or at least an `ESSource` providing the geometry records in the ES) is needed in order for `GeometryDB_cff` to work. As far as I can see, that is not included in some files touched by PR https://github.com/cms-sw/cmssw/pull/35278. Also some these might h

[2021-09-16 20:25] mmusich commented on #27
this can be closed now.

[2021-09-16 20:43] #27 closed

[2021-09-17 01:24] #25 closed

[2021-09-17 12:15] tvami opened #32 "Replace tags that have [cms_orcon_prod/...] in their name"
- [x] CSCBadChambers_empty_mc
[code]

 - [x] L1RPCHwConfig_v1
[code]

 - [x] RPCStripNoises_v1_mc
[code]

 - [x] SiPixelGenErrorDBObject_38T_v1_mc
[code]

 - [x] SiPixelLorentzAngle_forWidth_v1_mc
[code]

 - [x] SiPixelLorentzAngle_fromAlignment_v1_mc
[code]

[2021-09-17 12:23] tvami commented on #29
@FlorianBury could you please pass this to the conveners?

[2021-09-17 12:26] tvami opened #33 "Deprecated EDAnalyzer & esGet in `CalibTracker/SiPixelESProducers`"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-55142a/18684/llvm-analysis/

shows
[code]

[2021-09-17 12:29] tvami commented on #33
@SanjanaSekhar please pass this info to the conveners

[2021-09-17 12:29] FlorianBury commented on #29
@mdelcourt, @robervalwalsh : probably old code to be removed

[2021-09-17 12:35] robervalwalsh commented on #29
@tvami, @FlorianBury, thanks! I understand those codes are deprecated. They could be removed.

[2021-09-17 12:58] tvami opened #34 "Deprecated EDAnalyzer in `IORawData/CSCCommissioning`"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-363a88/18688/llvm-analysis/

[code]

[2021-09-17 15:54] tvami commented on #21
Resolved in https://github.com/cms-sw/cmssw/pull/35295

[2021-09-17 15:54] #21 closed

[2021-09-17 17:40] tvami commented on #34
Hi @ptcox could you please find somebody in the CSC group who'll fix this? Thanks!

[2021-09-17 17:45] tvami commented on #30
@namapane @swagata87 FYI I created this issue just for the bookkeeping part of it

[2021-09-17 18:46] mmusich commented on #24
This can be closed

[2021-09-17 18:48] #24 closed

[2021-09-17 18:48] namapane commented on #30
looks like a bit overwhelming. :-)

[2021-09-17 18:53] tvami commented on #30
I agree, this whole migration is a lot of manpower from all the subsystems. The positive side of it is that the software will be much faster. Btw IIUC only the first part of the list (the es get part) is what really supposed to be finished by 12_1_X, the rest (EDAnalyzers) might be fine a bit later on as well. Let me ask the release managers at the next ORP meeting.

[2021-09-18 09:55] swagata87 commented on #30
yes I have plans to work on EventSetupRecord::get issue in DT calibration code before 12_1 deadline

[2021-09-18 16:26] swagata87 commented on #30
so I was looking at EventSetupRecord::get, but only DTFakeT0ESProducer.cc is a producer code where EventSetupRecord::get is used in your list, rest are not producer code. Is it necessary to migrate in other codes? If yes, then is there any instruction how to do that? Only instruction I see explains how to migrate producer:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideHowToGetDataFromES

F

[2021-09-19 13:04] tvami commented on #30
@swagata87 I clicked to the link in the issue description, then clicked to a file
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-a0c9c1/18662/llvm-analysis/report-14d4cb.html#EndPath

it explained there that "function 'dtCalibration::DTVDriftSegment::setES' calls function 'edm::eventsetup::EventSetupRecord::get<edm::ESHandle<DTRecoConditions> >' with argument of type 'ESH

[2021-09-19 16:10] namapane commented on #30
@tvami I think the promlem @Swagata87 is mentioning is that e.g. DTVDriftSegment is not a ESProucer, so esConsumes() cannot be directly called therein.
In this case, the ConsumesCollector must be percolated, which requires some update to the interface. That was the case for example for the migration of classes in #35184 (and I think the reason why it was eventually handled by Chris himself... :-)

[2021-09-19 17:22] swagata87 commented on #30
Partial migration of CalibMuon/DTCalibration in this PR https://github.com/cms-sw/cmssw/pull/35336
It's only partial because for some code, which are neither ESProducer, nor EDAnalyzer, migration seems non-trivial. I tried to use ConsumesCollector, but there are other issues in that approach. I haven't found a way yet..

[2021-09-20 12:32] ptcox commented on #34
Hi Tamas,

Sorry, can you tell me more of why this is associated with
AlCaDb/AlCaTools? I presume the issue to migrate to
|edm::one::EDAnalyzer<>?|
In any case, this code is under active development and use for various
CSC test stands at the moment, as developments of the combined CSC-GEM
trigger continue, so I am sure I can find someone to fix whatever needs
fixing :) If we know what it is to fix

[2021-09-20 12:48] tvami commented on #34
Hi @ptcox

We didn't want to spam the full CMSSW issues, it is not as urgent so that it has to be under https://github.com/cms-sw/cmssw/labels/alca-pending and anyway it would be an `alca` only signiture there. So why not move the AlCa specific issues to an Alca specific organization? The `AlCaTools` repo inside the AlCaDb organization is a somewhat random choice, the thing is that issues can only

[2021-09-20 12:54] tvami commented on #34
I should also add that there might be more modules for CSC that need this mitigation. The files in the list above were just noticed by the Static Analyzer because another PR touched on them.

[2021-09-22 10:18] mmusich commented on #29
@robervalwalsh if these codes are not necessary, please open a PR that removes them.

[2021-09-22 13:27] yuanchao commented on #28
To check which packages are still using the deprecated call with pointers instead of reference. Here are those call to writeOne:
 - Alignment/CommonAlignmentAlgorithm/plugins/SiPixelLorentzAngleCalibration.cc
 - Alignment/CommonAlignmentAlgorithm/plugins/SiStripBackplaneCalibration.cc
 - Alignment/CommonAlignmentAlgorithm/plugins/SiStripLorentzAngleCalibration.cc
 - Alignment/CommonAlignmentAlgori

[2021-09-22 22:00] tvami commented on #20
Resolved in https://github.com/cms-sw/cmssw/pull/35363

[2021-09-22 22:00] #20 closed

[2021-09-23 11:24] mmusich commented on #29
Addressed here: https://github.com/cms-sw/cmssw/pull/35381 (if these are not needed they can be removed later)

[2021-09-23 15:16] #29 closed

[2021-09-24 12:30] tvami commented on #33
resolved in https://github.com/cms-sw/cmssw/pull/35375

[2021-09-24 18:09] tvami commented on #33
[code]

[2021-09-24 18:13] tvami commented on #23
resolved in https://github.com/cms-sw/cmssw/pull/35386

[2021-09-24 18:13] #23 closed

[2021-09-24 18:15] tvami opened #35 "Deprecated Legacy modules in `CondTools/SiStrip`"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-5c58fd/18897/llvm-analysis/

[code]

[2021-09-24 19:16] tvami opened #36 "Deprecated ES get function and legacy modules in `Calibration/Tools`"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-5a659a/18900/llvm-analysis/

[code]

Use of legacy modules:
[code]

[2021-09-25 12:11] mmusich commented on #35
see https://github.com/cms-sw/cmssw/pull/35415

[2021-09-27 01:19] tvami opened #37 "Deprecated Legacy modules in `CondCore/PopCon`"
[code]

@ggovi does this module have to wait for all other DB packages to be migrated? Or one can go ahead and make this one a `one` module too?

[2021-09-27 12:33] yuanchao commented on #28
By checking out the CMSSW_12_1_0_pre3, we have the latest DB code. I comment out the old writeOne API such that those not updated from the deprecated method will fail to build.

I grab the master CMSSW source tarball and copy the DB related packages over and compile. So far the following ones need to be updated:
 - Alignment/CommonAlignmentProducer
 - Alignment/LaserAlignment
 - Alignment/MuonAlig

[2021-09-27 16:35] tvami opened #38 "Include BeamSpot mc tag in DD4HEP GT for RelVals"
See comment https://github.com/cms-sw/cmssw/pull/35373#issuecomment-928051202

https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py#L1107

[2021-09-28 14:11] tvami commented on #38
Final 12_1_X GT: 121X_mcRun3_2021_realistic_dd4hep_v3
Resolved in https://github.com/cms-sw/cmssw/pull/35373

and 12_0_X 120X_mcRun3_2021_realistic_dd4hep_v4
Resolved in https://github.com/cms-sw/cmssw/pull/35397

[2021-09-29 02:12] tvami opened #39 "Deprecated ES get functions in `Alignment/MuonAlignment`"
The following files use ES get functions

[code]

[2021-09-29 02:19] tvami commented on #36
@thomreis is working on this

[2021-09-29 02:38] tvami commented on #30
Hi @swagata87 do you maybe have an update on this?

Is this issue with
https://github.com/cms-sw/cmssw/blob/master//CalibMuon/DTCalibration/plugins/DTVDriftSegment.cc#L55-L71
?

Can you maybe follow the exmaple here
https://github.com/cms-sw/cmssw/blob/master//CalibMuon/DTCalibration/plugins/DTVDriftSegment.cc#L55-L71
where the token is consumed in
https://github.com/Dr15Jones/cmssw/blob/master/Ca

[2021-09-29 02:39] #35 closed

[2021-09-29 05:46] mmusich commented on #38
This can be closed.

[2021-09-29 09:37] mmusich commented on #37
see https://github.com/cms-sw/cmssw/pull/35469/files
(not sure that's enough though)

[2021-09-29 10:23] swagata87 commented on #30
No I do not know how to do this. I tried and failed.
If I use `edm::ConsumesCollector` in DTVDriftSegment code, then I have issues elsewhere and package do not compile. I tried to solve it by making changes in `CalibMuon/DTCalibration/interface/DTVDriftPluginFactory.h`, but then some other code complains and do not compile.

If you want I can type here all the errors I got. But long story short, I

[2021-09-29 11:41] #38 closed

[2021-09-29 11:58] tvami commented on #30
Yes, please post your errors. Even more, you could submit a Draft PR (which does not compile) so that experts can give you suggestions in the code itself (and of course to see what you are changing) . I think that's the best way to move forward! Thanks!

[2021-09-29 12:20] namapane commented on #30
I think that the point is that in the entire muon reco sw it was a common practice to percolate the eventSetup, and interfaces have been designed accordingly. In particular, wherever there is a PluginFactory, the interface has to be modified in base object to be produced and each its implementations, plus any code that uses any of them. It is not just a class-by-class migration but an interface re

[2021-09-29 12:24] swagata87 commented on #30
ok, so I tried to use ConsumesCollector in DTVDriftSegment code, and had this issue:
[code]
Looking at SealModule.cc, it looked like I need to change in DTVDriftPluginFactory, so I did it, but ran into other issues, I was trying to solve them following the error messages, but at the end I have this:

[code]

Its not clear to me how to proceed

[2021-09-29 12:52] tvami commented on #30
@swagata87 my understanding is that the latest approach is to merge the header files into the cc files, and thus one doesnt even need the SealModule

[2021-09-29 12:54] tvami commented on #30
Ok, let me explicitly include @Dr15Jones and @makortel to see if they had something in mind already for this, or if they have a preference on how to proceed

[2021-09-29 14:41] Dr15Jones commented on #30
So `DTVDriftWriter` is an EDAnalyzer and therefore already has the consumes collector. So the change you need from here

https://github.com/cms-sw/cmssw/blob/1b0b930c3fcf8dfdc8334d2e54b62fdfd3e408af/CalibMuon/DTCalibration/plugins/DTVDriftWriter.cc#L42-L43

is to do
[code]

I.e.  get the ConsumesCollector from DTVDriftWriter and pass it into the plugin factory so the different plugins can fill in

[2021-09-29 20:40] mmusich commented on #37
This can be closed

[2021-09-29 20:42] #37 closed

[2021-10-03 13:52] tvami opened #40 "Remove `DQMReferenceHistogramRootFileRcd` from GTs"

[2021-10-04 11:56] #36 closed

[2021-10-04 19:57] tvami commented on #39
@hyunyong is working on this

[2021-10-05 02:18] tvami commented on #34
@ptcox
Hi Tim, have you found somebody to do this? Can I move this `issue` to `work in progress`?
Thanks,
Tamas

[2021-10-05 07:15] ptcox commented on #34
Tamas Vami wrote on 10/5/21 04:18:

Hi Tamas,

I believe it was done 2 weeks ago, and merged:

CMSSW_12_1_X PR#35343 https://github.com/cms-sw/cmssw/pull/35343

See email below. Please let us know if you think not.

Regards, Tim

-------- Forwarded Message --------
Subject: 	Re: Fwd: Re: [cms-AlCaDB/AlCaTools] Deprecated EDAnalyzer in
IORawData/CSCCommissioning (#34)
Date: 	Mon, 20 Sep 2021 12:19:

[2021-10-05 11:49] tvami commented on #34
Hi Tim, this is great, thank you!

[2021-10-05 11:49] #34 closed

[2021-10-05 18:49] tvami commented on #32
- [ ] 121X_mcRun1_design_v5
[code]
 - [ ] 121X_mcRun1_realistic_v5
[code]
 - [ ] 121X_mcRun1_HeavyIon_v6
[code]
 - [ ] 121X_mcRun2_startup_v5
[code]
 - [ ] 121X_mcRun2_asymptotic_l1stage1_v5
[code]
 - [ ] 121X_mcRun2_design_v5
[code]
 - [ ] 121X_mcRun2_asymptotic_preVFP_v5
[code]
 - [ ] 121X_mcRun2_asymptotic_v5
[code]
 - [ ] 121X_mcRun2cosmics_asymptotic_deco_v5
[code]
 - [ ] 121X_mcRun2_HeavyIon

[2021-10-05 21:37] tvami commented on #32
Being resolved in https://github.com/cms-sw/cmssw/pull/35546

[2021-10-06 19:18] tvami commented on #30
Hi @swagata87 was Chris' answer helpful? Is it clear what to do next?

[2021-10-06 19:24] #32 closed

[2021-10-06 20:26] tvami opened #41 "Deprecated legacy modules in `CondTools/Ecal`"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-32689a/19442/llvm-analysis/

[code]

[2021-10-07 09:01] swagata87 commented on #30
I just had a chat with Carlo; and together we will give it another try in next days..
let's see

[2021-10-09 14:00] #33 closed

[2021-10-12 12:52] tvami commented on #28
There is a partial fix in https://github.com/cms-sw/cmssw/pull/35616

[2021-10-13 01:46] tvami opened #42 "Update metaData"
for SiPixel PCL LA
https://github.com/cms-sw/cmssw/pull/35507/files#r720647823
[code]
 for CTPPS
https://github.com/cms-sw/cmssw/pull/35631/files?diff=split&w=1#diff-72cea9ab63ff432179aa635eedf3960f714e6b737c3bada75790088ceec51743R235

[code]

[2021-10-13 02:02] tvami commented on #30
Hi @swagata87 sorry for being pushy, the deadline for this is until Oct 19, do you maybe have any updates?

[2021-10-13 07:57] swagata87 commented on #30
Hi Tamas,
No worries at all. I indeed have updates on this. The rest of the DT calibration code has been migrated to use esConsumes, its in my local branch. A few final checks is being made to ensure that my changes do not affect physics and are purely technical. A PR will be made soon; let's say in a day or two.

[2021-10-19 23:47] tvami commented on #41
Hi @atishelmanch will it be you who'll migrate these modules as well? Or is that on somebody else now? Thanks!

[2021-10-20 18:54] tvami opened #43 "Deprecated legacy modules in `Alignment/MuonAlignment*`"
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-ae46bb/19774/llvm-analysis/

[code]

[2021-10-21 15:26] mmusich opened #44 "Deprecated ES get functions in `Alignment/CommonAlignmentAlgorithm`"
From  https://github.com/cms-sw/cmssw/pull/35711 [integration tests](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-7367f9/19706/llvm-analysis/esrget-sa.txt )

[code]

[2021-10-27 12:11] hjkwon260 opened #46 "Rename express tag for AlCaRecoTriggerBits"
Current tag name for express is `AlCaRecoHLTpaths8e29_1e31_v11_hlt` which can be somehow confusing with hlt tag, `AlCaRecoHLTpaths8e29_1e31_v7_hlt`.
It was proposed during the meeting to change the name, preferably to be done during downtime.

[2021-10-29 08:37] tvami opened #47 "Add reduced material scenarios to Run-3 MC GTs"
See request in
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/4510.html

[2021-10-29 14:57] #44 closed, assigned to bbilin

[2021-11-05 01:44] tvami commented on #47
Resolved in https://github.com/cms-sw/cmssw/pull/35920

[2021-11-05 01:44] #47 closed

[2021-11-05 01:45] tvami opened #48 "More TrackerAlignment ES get() calls"
* `Alignment/TrackerAlignment`
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_2_CMSDEPRECATED_X_2021-11-03-2300/Alignment/TrackerAlignment
crtl-f for `.get(` finds 12 more occurrences of deprecated ES get calls

then going to
 * `Alignment/CommonAlignmentProducer`
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_2_CMSDEPRECATED_X_2021-11-03-2300/Alig

[2021-11-05 01:47] tvami commented on #48
Hi @bbilin I found some more ES get()-s for your enjoyment :)

[2021-11-05 01:53] tvami opened #49 "More MuonAlignment ES get() calls"
going to https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_2_CMSDEPRECATED_X_2021-11-03-2300/Alignment/MuonAlignment
crtl-f `.get(`
gives me 10 occurrences

[2021-11-05 01:54] tvami commented on #49
Hi @hyunyong please have a look at this

[2021-11-05 02:21] tvami opened #50 "More SiPixel ES get() calls"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_2_CMSDEPRECATED_X_2021-11-03-2300/CondFormats/SiPixelObjects

crtl-f for `.get(` has 8 occurrences

[2021-11-05 02:26] tvami commented on #50
I also think this should be under \plugins
Well going even further they should be under `CondTools/SiPixel`
@mmusich what was the incentive to put these readers under CondFormats?

[2021-11-05 02:30] tvami opened #51 "More SiStrips ES get() calls"
* `CalibTracker/SiStripESProducers`
[code]
and
[code]
and
[code]
then
 * `CalibTracker/SiStripDCS`
[code]
and
  * `CalibFormats/SiStripObjects`
[code]
and
 * `CondFormats/PhysicsToolsObjects`
[code]
and
[code]
and
[code]

[2021-11-05 02:36] tvami commented on #51
@mmusich is there a point in tagging the Strips people? :)

[2021-11-05 12:40] robervalwalsh commented on #51
Hi @tvami,
could you please give more details of what the issue is? Thanks!

[2021-11-05 12:47] mmusich commented on #51
@robervalwalsh shall we maybe have a short chat?

[2021-11-05 12:49] robervalwalsh commented on #51
@mmusich, yes

[2021-11-05 20:37] mmusich commented on #51
was actually quite straightforward to do, so here it is: https://github.com/cms-sw/cmssw/pull/36015

[2021-11-05 20:42] mmusich commented on #50
@tvami speaking only for the `SiPixelBadFEDChannel*` classes, these are mostly sanity check code and should be maintained in the test directory of `CondFormats/SiPixelObjects`.
Eventually `SiPixelFEDChannelContainerFromQualityConverter` could be moved.

[2021-11-05 21:55] mmusich commented on #50
see https://github.com/cms-sw/cmssw/pull/36016

[2021-11-06 15:08] tvami commented on #50
resolved in https://github.com/cms-sw/cmssw/pull/36016

[2021-11-06 15:08] #50 closed

[2021-11-06 15:09] tvami commented on #51
resolved in https://github.com/cms-sw/cmssw/pull/36015

[2021-11-06 15:09] #51 closed

[2021-11-06 15:12] tvami commented on #28
First of the subsystem PR done in https://github.com/cms-sw/cmssw/pull/35999 (for SiStrips)

[2021-11-07 17:40] tvami commented on #28
Hi @mmusich I found two more files for Strips
https://github.com/cms-sw/cmssw/blob/master/CalibTracker/SiStripChannelGain/src/SiStripGainsPCLHarvester.cc#L136
https://github.com/cms-sw/cmssw/blob/master/Alignment/CommonAlignmentAlgorithm/plugins/SiStripBackplaneCalibration.cc#L385
(although one might consider this to be an alignment file)

[2021-11-07 18:04] mmusich commented on #28
https://github.com/cms-sw/cmssw/blob/master/Alignment/CommonAlignmentAlgorithm/plugins/SiStripBackplaneCalibration.cc#L385

Pertains to alignment

[2021-11-07 18:06] mmusich commented on #28
While https://github.com/cms-sw/cmssw/blob/master/CalibTracker/SiStripChannelGain/src/SiStripGainsPCLHarvester.cc#L136 is already OK. It uses `std::unique_ptr`

[2021-11-07 19:30] tvami commented on #28
I made a PR for the SiPixelCPE https://github.com/cms-sw/cmssw/pull/36027 I let the rest to @SanjanaSekhar

[2021-11-08 00:08] tvami commented on #28
DropBox metadata (among other things) https://github.com/cms-sw/cmssw/pull/36028

[2021-11-09 14:59] tvami commented on #48
Hi @bbilin did you see this?

[2021-11-09 15:10] tvami commented on #28
Remaining SiPixel done in https://github.com/cms-sw/cmssw/pull/36040

[2021-11-09 15:28] bbilin commented on #48
Hi @tvami yes, I saw it :) I was just too busy to come to this yet, but will do so later this week. Thanks for repinging.

[2021-11-10 20:33] tvami commented on #28
ECAL is done in https://github.com/cms-sw/cmssw/pull/36062

[2021-11-10 20:33] tvami commented on #28
Beamspot done in https://github.com/cms-sw/cmssw/pull/36077

[2021-11-10 20:33] tvami commented on #28
TkAlignment done in https://github.com/cms-sw/cmssw/pull/36076

[2021-11-10 20:38] tvami commented on #49
resolved https://github.com/cms-sw/cmssw/pull/36047

[2021-11-10 20:38] #49 closed

[2021-11-15 14:30] tvami commented on #28
AlCa part done in https://github.com/cms-sw/cmssw/pull/36090
DB part done in https://github.com/cms-sw/cmssw/pull/36124

[2021-11-15 21:52] tvami commented on #48
Hi @bbilin , this is my weekly kind ping :)
As of now you'll need to change the links to a newer release for example CMSSW_12_2_CMSDEPRECATED_X_2021-11-10-2300 worked for me

[2021-11-15 21:58] tvami commented on #41
hi @atishelmanch sorry was this issue ever resolved? thanks!

[2021-11-16 06:42] atishelmanch commented on #41
Hey @tvami - not yet, we will get to it soon and let you know.

-Abe

[2021-11-16 09:13] thomreis commented on #41
In fact all but `/CondTools/Ecal/plugins/EcalPedestalHistory.h` have been taken care of in #36062 already. We have some other instances in other packages (`CalibCalorimetry` and `Calibration`) that we will fix as well together with the last instance here.

[2021-11-16 12:22] bbilin commented on #48
will ping you back as soon as I have some implementations- currently I had no time to look at it yet. Will let you know asap.

[2021-11-20 16:18] mmusich commented on #48
see https://github.com/cms-sw/cmssw/pull/36193

[2021-11-20 20:55] tvami commented on #48
Resolved in https://github.com/cms-sw/cmssw/pull/36193

[2021-11-20 20:55] #48 closed

[2021-12-01 17:07] tvami commented on #41
Resolved in https://github.com/cms-sw/cmssw/pull/36317

[2021-12-01 17:07] #41 closed

[2021-12-04 11:50] mmusich commented on #43
I think this was eventually fixed by https://github.com/cms-sw/cmssw/pull/36193.
Shall it be closed?

[2021-12-04 12:47] tvami commented on #43
resolved in https://github.com/cms-sw/cmssw/pull/36193

[2021-12-04 12:47] #43 closed

[2021-12-17 13:25] tvami commented on #28
The removal of the old method happened in https://github.com/cms-sw/cmssw/pull/36490 , with this, this migration is completed!

[2021-12-17 13:25] #28 closed

[2021-12-17 13:31] tvami commented on #30
Resolved in https://github.com/cms-sw/cmssw/pull/36434

[2021-12-17 13:31] #30 closed

[2021-12-21 13:27] tvami opened #53 "Rename PPS ALCARECOs"
PPS ALCARECOs have to be renamed because for the AlCaPrompt step, the AlCaPrompt producers need to have the following string in the name: "PromptCalibProd" as it is required here: https://github.com/cms-sw/cmssw/blob/master/Configuration/DataProcessing/python/Impl/AlCa.py#L63

[2022-01-18 11:11] grzanka commented on #53
Here is the list of PRs related to PPS ALCARECO renaming:

- https://github.com/cms-sw/cmssw/pull/36698
- https://github.com/cms-sw/cmssw/pull/36702
-  https://github.com/cms-sw/cmssw/pull/36707

[2022-01-21 14:44] tvami commented on #53
Plus the addition to the autoAlca in
https://github.com/cms-sw/cmssw/pull/36730

[2022-01-22 22:36] tvami commented on #53
Resolved in https://github.com/cms-sw/cmssw/pull/36702

[2022-01-22 22:36] #53 closed

[2022-01-25 16:29] tvami opened #54 "Replace hardcoded PPS Timing LUT with the GTs"
Here
https://github.com/cms-sw/cmssw/blob/e546279193c55ffaf51efa844e5821289006232a/RecoPPS/Local/python/ctppsDiamondLocalReconstruction_cff.py#L7

PPSDiamondTimingCalibrationLUT_test
is hardcoded.

We'll need to create new GTs and read it from there

[2022-02-02 17:05] tvami opened #55 "Full track validation tool improvement"
Once you have the output DQM files the dqm bin by bin comparison tool could be run and only the diff be uploaded to the GUI, so that one hasn't to rummage in a gazillion folders

[2022-02-10 11:46] pkalbhor commented on #55
@tvami, Are we talking about any existing comparison tool here?

[2022-02-10 13:43] tvami commented on #55
Yes, it is used here
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_3_X_2022-02-06-2300+d44be8/48258/dqm-histo-comparison-summary.html

so we should just ask Shahzad how he runs this and implement it for our worklow

[2022-02-17 10:04] francescobrivio opened #57 "Remove L1CaloGeometry tag from HLT GT"
Remove `L1CaloGeometry_CRAFT09_hlt` from the HLT GT in CMSSW_12_3_X once https://github.com/cms-sw/cmssw/pull/36986 has been merged.

[2022-02-17 13:23] tvami commented on #57
We can prob remove it from the MC GTs as well

[2022-02-18 11:31] srimanob commented on #57
By the way, for the add-on test,
https://github.com/cms-sw/cmssw/issues/36806#issuecomment-1037274254

What is the conclusion on the proper stepname, L1REPACK:Full or L1REPACK, because they are different.

[2022-02-18 14:18] srimanob commented on #57
The test with the following cmsDriver (*) with CMSSW_12_3_X_2022-02-18-1100 (HLT PR includes) + `123X_dataRun3_HLT_v2` shows that

L1REPACK::FULL ==> OK

L1REPACK ==> Fail with
[code]
This confirms the test on
https://github.com/cms-sw/cmssw/issues/36806#issuecomment-1037278121

(*)
`cmsDriver.py step2 --process reHLT -s L1REPACK:Full --conditions 123X_dataRun3_HLT_v2  --data --eventcontent RAW --

[2022-02-18 14:46] tvami commented on #57
OK that's great! Thanks for checking

Yeah, we'll fix that internally!

[2022-03-01 00:26] tvami commented on #54
This is resolved in https://github.com/cms-sw/cmssw/pull/37034

[2022-03-01 00:26] #54 closed

[2022-03-01 00:26] tvami commented on #22
This is resolved in https://github.com/cms-sw/cmssw/pull/37059

[2022-03-01 00:26] #22 closed

[2022-03-01 02:17] tvami opened #58 "Remove unused b-tagging tags"
HN request for MC
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/4481.html

[code]

HN request for data
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/4482.html

[code]

[2022-03-18 12:12] pkalbhor commented on #55
@tvami ,
I managed to run the DQM comparison tool[1]. Here are some observations:
1) It removes those plots which match exactly(matching values, errors, etc.)
2) We still need to browse through multiple folders(like we do now) but this time unchanged plots are not present.

[1] https://github.com/cms-sw/cmssw/blob/master/DQMServices/FileIO/scripts/compareDQMOutput.py

[2022-03-18 12:54] mmusich commented on #55
That's exactly why it is useful. One can concentrate on the one changed, instead of browsing a lot of folder with unchanged plots.

[2022-04-08 13:17] tvami opened #60 "Make a unit test to test for muon alignment"

[2022-04-21 01:43] tvami commented on #60
Hi @hyunyong do you maybe have an update on this?

[2022-04-22 16:40] hyunyong commented on #60
Hi @tvami,
Currently, I'm working on the GPR code and the Run3 muon alignment configuration.
After finishing these, I can add the GPR and muon alignment to the unit test.

[2022-04-29 13:57] tvami opened #61 "Change AlcaPCCIntegrator params to traced"
Discussed here
https://github.com/cms-sw/cmssw/pull/37538/files#r848720360

This issue was in the code already, but this parameter should be tracked (impacts physics). Could edm::InputTag parameter type be used directly? Also, is the nested AlcaPCCIntegratorParameters really necessary? It doesn't seem to provide any value here (but I may be missing something).

Also, if the thePCCInputTag_ is only

[2022-05-25 19:07] tvami opened #63 "Fix `conddb --noLimit listGTs`"
`conddb --noLimit listGTs` doesn't show anything more recent than 10.5.x

Giacomo promised to have a look at this, but as a reminder we create this ticket

[2022-05-25 21:52] tvami commented on #61
Resolved in https://github.com/cms-sw/cmssw/pull/38077

[2022-05-25 21:52] #61 closed

[2022-06-07 17:55] malbouis opened #64 "Remove obsolete GEM eMap tags from GTs"
```GEMeMap_Full_MC_v1 tag``` (from simulation queues) and ```GEMeMap_Full_v2``` (from data queues).
Follow-up from these PRs: #38090, #38252, #38265

[2022-06-16 13:35] malbouis opened #65 "Create new relval workflows for @allForExpress and @allForPrompt (from autoAlCa.py) with 2022 collision data."
Currently the workflows to test all AlCaRecos (@allForPrompt and @allForExpress) use either Run-1 (relval workflow [1000](https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_production.py#L12)) or Run-2 data (relval workflow [1001.2](https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_production.py#L14)).

They should

[2022-06-16 13:39] malbouis commented on #65
@tocheng

[2022-06-21 09:23] tvami opened #66 "GEM and CSC LUTs should be in DB"
Discussed in https://github.com/cms-sw/cmssw/pull/38373
the txt files should be converted into sqlite files and should be loaded through the GT

[2022-06-24 18:21] tvami commented on #63
Resolved in https://github.com/cms-sw/cmssw/pull/38140
and backported to
https://github.com/cms-sw/cmssw/pull/38432
and
https://github.com/cms-sw/cmssw/pull/38433

[2022-06-24 18:21] #63 closed

[2022-06-24 20:28] tvami commented on #65
@tocheng this is the also connected to what I asked in the other github issue

[2022-06-24 20:29] tvami commented on #31
@yuanchao what's the status of the issue?

[2022-06-29 11:17] yuanchao commented on #31
The check for AlCaDB related codes are summarized in this gDoc:
https://docs.google.com/spreadsheets/d/1ZppPycBlAERR6JovCqfroH-KJtnHIbO9ozr77U2G_fY/edit?usp=sharing

[2022-07-01 11:57] mmusich commented on #31
That's not what this issue is about, please read carefully the description.

[2022-07-04 11:29] mmusich commented on #31
right, so what's the plan to fix them?

[2022-07-05 06:57] tvami commented on #31
The plan should be to move those configs to use the GT, @yuanchao can you make the PR?

[2022-07-09 15:44] tvami commented on #60
hi @hyunyong now that you actually updated the muon alignment, can you also make a PR for a unit test that actually runs the procedure? Thanks!

[2022-07-15 13:03] tvami commented on #65
Being resolved in https://github.com/cms-sw/cmssw/pull/38681/

[2022-07-15 13:04] tvami opened #67 "Make sure there will be a relval workflow setup for the new PPS AlCaReco `PPSCalMaxTracks` defined in https://github.com/cms-sw/cmssw/pull/36273 as soon as there is data with the new PPS Stream."

[2022-07-27 16:41] malbouis opened #70 "Remove hardcoded trigger bits from AlCaRecos and include it as a key in the alcareco trigger bits tag."
The following AlCaRecos were found to have hardcoded trigger bits:

   * https://github.com/cms-sw/cmssw/blob/master/Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_cff.py#L10
      * update the key to `SiPixelCalSingleMuon` as per [this comment](https://github.com/cms-AlCaDB/AlCaTools/issues/70#issuecomment-1197779253).
   * https://github.com/cms-sw/cmssw/blob/master/Cal

[2022-07-27 16:42] malbouis commented on #70
assign @cms-AlCaDB/alca-tsg

[2022-07-27 16:42] malbouis commented on #70
type tsg

[2022-07-27 17:38] mmusich commented on #70
Hi,
to clarify

This is not hardcoded, it clones the one for `TkAlZMuMu` which is coming from GlobalTag.
The current logic ensures the two are always synched. Please don't change the behavior.
Thx

[2022-07-27 18:40] malbouis commented on #70
Hi! My bad, I included the wrong link!
I meant this: https://github.com/cms-sw/cmssw/blob/master/Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_cff.py#L10
If you agree, we would like to set it as `SiPixelCalSingleMuonTight` as indicated in the comments.
Please ket us know.

[2022-07-28 07:38] mmusich commented on #70
There's already a key 'SiPixelCalSingleMuon' used in the loose version.

https://github.com/cms-sw/cmssw/blob/717889207b43821a481d4491298f48363a8c9e5e/Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonLoose_cff.py#L10

I think the two could share the same key.

[2022-08-03 10:34] yuanchao commented on #31
Scripts out-of-dated are deleted after contacting with the sub-system experts. Those without GT are set to use auto-condition with either phase1 realistic/design or run3 data. The related PRs are listed below:

https://github.com/cms-sw/cmssw/pull/38782
https://github.com/cms-sw/cmssw/pull/38783
https://github.com/cms-sw/cmssw/pull/38796
https://github.com/cms-sw/cmssw/pull/38798

(Others with loc

[2022-08-03 12:33] tvami commented on #31
Should those be deleted?

[2022-08-06 12:07] tvami opened #72 "Move `PCLMetadataWriter` to `CommonTools`"
Move `Calibration/TkAlCaRecoProducers/plugins/PCLMetadataWriter.cc` to `CommonTools`

[2022-08-06 12:07] tvami commented on #65
Resolved in https://github.com/cms-sw/cmssw/pull/38681

[2022-08-06 12:07] #65 closed

[2022-08-06 12:09] tvami commented on #67
Partially resolved in https://github.com/cms-sw/cmssw/pull/38893 (for HPTDC and SAMPIC)
I think we still miss the wf to test the alignment with 2022 data, @ChrisMisan

[2022-08-08 14:59] yuanchao commented on #31
Deleting prior-run2 ones.

[2022-08-08 21:27] mmusich commented on #72
see https://github.com/cms-sw/cmssw/pull/39002 for a possible solution.

[2022-08-09 17:15] tvami commented on #72
Resolved in https://github.com/cms-sw/cmssw/pull/39002

[2022-08-09 17:15] #72 closed

[2022-08-10 21:01] mmusich commented on #70
I address this here: https://github.com/cms-sw/cmssw/pull/39025

[2022-08-15 14:24] tvami commented on #67
Done in
https://github.com/cms-sw/cmssw/pull/39059

[2022-08-22 14:35] tvami opened #74 "Create HipPy PCL workflow"

[2022-08-22 14:38] mmusich commented on #74
the DQM part might be tricky to get, but at least making the alignment part working should be straightforward

[2022-08-23 19:47] malbouis opened #75 "Trigger paths in DQMOffline/JetMET"
Investigate why DQMOffline/JetMET is not using the trigger paths via the AlCaRecoTriggerbits tag: https://github.com/cms-sw/cmssw/blob/master/DQMOffline/JetMET/python/metDQMConfig_cfi.py#L54

Not urgent at all. It would just be nice to know whether we should give up on the tag https://cms-conddb.cern.ch/cmsDbBrowser/list/Prod/tags/AlcaRecoTriggerBits_JetMET_DQM_v0_hlt

[2022-08-23 19:47] malbouis commented on #75
type tsg

[2022-08-23 19:48] malbouis commented on #75
assign alca-tsg

[2022-08-26 17:10] tvami opened #77 "Remove SiStripApvGainRcdAfterAbortGap from DMD"
As commented here
https://github.com/cms-sw/cmssw/pull/39181/files/1c5856afa0d5c5226bc515ef903c8038ac8c79bc#diff-15804eacd081c0bd0599b6de51ea0bd9efd4ff4565017fae6ba1e1ceb11b0f45

"this file is now obsolete (since about 2016 :)), because the corresponding ALCAPROMPT name was shortened to SiStripApvGainAAG to fit the DBS database limitations, so this file could be deleted at the next update (and con

[2022-08-31 11:29] yuanchao commented on #31
For the PRs on deleting orphan scripts, they are listed below:
cms-sw/cmssw#39011  CalibMuon/CSCCalibration (waiting for confirm from sub-det)
cms-sw/cmssw#39012 CondTools/SiPixel (suppressed by #39192)
cms-sw/cmssw#39014 Calibration/HcalAlCaRecoProducer (merged)
cms-sw/cmssw#39150 Calibration/TkAlCaRecoProducer (suppressed by #39170)

[2022-09-17 00:45] #67 closed

[2022-09-17 00:45] #31 closed

[2022-09-17 00:46] tvami commented on #77
Done in https://github.com/cms-sw/cmssw/pull/39380

[2022-09-17 00:46] #77 closed

[2022-10-24 18:41] malbouis commented on #70
solved by https://github.com/cms-sw/cmssw/pull/39025 and https://github.com/cms-sw/cmssw/pull/39752

[2022-10-24 18:43] #70 closed

[2022-10-26 15:41] malbouis opened #81 "Remove tracking BDT based tags from Run-3 GTs"
Request in https://cms-talk.web.cern.ch/t/proposal-of-removal-of-bdt-based-gbrwrapperrcd-tags-for-tracking-selection-from-run-3-globaltags/16757

The tags should be removed only from Run-3 workflows.
The HI labeled ones should be kept.

From Marco: check if those tags are used by online DQM.

[2022-11-14 14:21] tvami commented on #81
Done in https://github.com/cms-sw/cmssw/pull/40010 and https://github.com/cms-sw/cmssw/pull/40011

[2022-11-14 16:11] francescobrivio opened #82 "Clean up of JEC/JR tags as suggested by Andrea Malara:"
1) records which I don't know were used at all during Run2 --> all those different from ak4 and ak8
2) records which should not be used in online/propmt (only in offline analyses) --> all the JetResolutionRcd and JetResolutionScaleFactorRcd
3) records that should be kept both in prompt and offline --> all the ak4 and ak8

I think that 1 can be removed from everywhere, 2) can be removed online, 3)

[2022-11-17 13:28] malbouis opened #83 "Clean up L1Menu 2015 tag from MC Queues"
The tag `L1Menu_Collisions2015_25nsStage1_v5`, Record: `L1GtTriggerMenuRcd` seems not to be consumed anymore as stated in https://cms-talk.web.cern.ch/t/run-2-2016-ul-gt-update-of-the-l1-menu-tag-in-106x-mcrun2-asymptotic-v13/17635

It should be removed then from the MC Queues.